{% extends 'layouts.html' %}
{% load static %}

{% block content %}
<div class="row my-3">
    {% for product in products %}

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{product.images.url}} " height="200" width="200"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{product.name}}</a>
                </h4>
                <h5>{{product.price}}</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
                </p>
            </div>
            <div class = card-footer>

                 {% if product.stock <= 0 %}    

                        <p class ="text-danger"> Not available now</p>  
                 
                 {% else %}      
                 
                          <a href="#" class="btn btn-primary">Add to card</a>


                 {% endif %}         

            </div>






        </div>
    </div>

    {% endfor %}
</div>





{% endblock %}